<% function renderEmployeeLink(employee, highlight) { %>
<a
  href="employees?name=<%= employee.name %>"
  class="tf-nc <%= highlight ? 'highlight' : '' %>"
  ><%= employee.name %></a
>
<% } %> <% function renderEmployeeList(employee) { %>
<li>
  <% renderEmployeeLink(employee, employee.name === locals.employeeToSearch); %>
  <% if (employee.directReports && employee.directReports.length > 0) { %>
  <ul>
    <% employee.directReports.forEach(directReport => { %> <%=
    renderEmployeeList(directReport) %> <% }); %>
  </ul>
  <% } %>
</li>
<% } %> <% function renderManagerLink(manager) { %>
<a
  href="employees?name=<%= manager %>"
  class="tf-nc <%= manager === locals.employeeToSearch ? 'highlight' : '' %>"
  ><%= manager %></a
>
<% } %> <% function renderManagerList(list) { %> <% if (list.length > 0) { %>
<ul>
  <li>
    <%= renderManagerLink(list[0]) %> <% renderManagerList(list.slice(1)); %>
  </li>
</ul>
<% } %> <% } %> <% if (locals.employeeToSearch &&
locals.employeeSearchResult.foundEmployees &&
locals.employeeSearchResult.foundEmployees.length === 1) { %> <%=
renderManagerList(locals.employeeSearchResult.foundEmployees[0].managerNames) %>
<br />
<br />
<h2>Direct Report(s) and Indirect Report(s)</h2>
<br />
<p>
  Total Direct Reports: <%=
  locals.employeeSearchResult.foundEmployees[0].directReports.length || 0 %>
</p>
<p>
  Total Indirect Reports: <%=
  locals.employeeSearchResult.foundEmployees[0].indirectReports.length || 0 %>
</p>
<br />
<ul>
  <%= renderEmployeeList(locals.employeeSearchResult.foundEmployees[0].employee)
  %>
</ul>
<% } else if (locals.employeeToSearch &&
locals.employeeSearchResult.foundEmployees.length === 0) { %>
<p>Not having hierarchy!</p>
<% } else if (locals.employeeToSearch &&
locals.employeeSearchResult.foundEmployees.length > 1) { %>
<p>Has multiple managers!</p>
<br />
<% locals.employeeSearchResult.foundEmployees.forEach(employee => { %> <%=
renderManagerList(employee.managerNames) %> <% }); %> <% } else { %>
<ul>
  <% locals.employeeHierarchy.forEach(employee => { %> <%=
  renderEmployeeList(employee) %> <% }); %>
</ul>
<% } %>
